body{
    display: grid;
    grid-template-areas:
        "cabeca cabeca"
        "branco corpo"
        "peh peh";
    grid-template-rows: 100px auto 100px;
    grid-template-columns: 400px auto;         
}

header{
    background-color: #C6C954;
    grid-area: cabeca;
}
aside{
    background-color: #434424;
    grid-area: branco;
}
main{
    background-color: #FFEC8E;
    grid-area: corpo;
}
footer{
    background-color: #949741;
    grid-area: peh;
}
@media only screen and (max-width: 850px){
    body{
        display: grid;
        grid-template-areas: 
        "cabeca"
        "branco"
        "corpo"
        "peh";
        grid-template-rows: 100px 50px auto 100px;
        grid-template-columns: auto;
    }
}
.letra{
    color: rgb(255, 0, 0);
}
@media only screen and (max-width:450px){
    body{
        display: grid;
        grid-template-areas:
        "cabeca"
        "corpo"
        "peh";
        grid-template-rows: 100px auto 100px;
        grid-column: auto;
    }
    aside{
        display: none;
    }
}
.pai{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gato_produto{
     width: 200px;
    height: 200px;
}

.card{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 50px;
   border: black 2px solid;
   background-color: #fff8d4;
   width: 200px;
   height: 350px;
   border-radius: 10px;
   text-align: center;
   margin: 10px;
}
